/* You can add global styles to this file, and also import other style files */

@tailwind base;

/* Force font applications */
@layer base {
  .font-body {
    font-family: 'Open Sans', sans-serif !important;
  }
  .font-sans {
    font-family: 'Quicksand', sans-serif !important;
  }
}

@import 'swiper/css';
@import 'swiper/css/effect-fade';
@import 'swiper/css/autoplay';
@import "tailwindcss";

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 255 255 255;
    --color-body: 17 24 39;
    --color-accent: 220 38 38;
  }
}
