// Main layout styles
main {
  padding-top: 16px;
}

// Mobile menu styles for the main container
:host-context(.mobile-menu-open) {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
} 